/* @import url(https://fonts.googleapis.com/css2?family=Lemonada:wght@100;200;300;400;500;600;700&display=swap); */
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

*{
  padding: 0px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

/* .Lemonada{
  font-family: 'Lemonada', display;
} */
.inter{
  font-family: 'Inter', sans-serif;
}

/* Style guide font start */

.title-font{
  font-size: 89px;
  font-weight: 400;
}

.primary-font {
  font-size: 24px;
}

.primary-medium-big-font{
  font-size: 68px;
  font-weight: 700;
}

.primary-big {
  font-size: 60px;
  font-weight: 600;
}

.primary-semibold-font {
  font-size: 50px;
  font-weight: 600;
}

.primary-bold-font {
  font-size: 54px;
  font-weight: 700;
}

.secondary-small{
  font-size: 28px;
  font-weight: 500;
}

.secondary-small-light{
  font-size: 23px;
  font-weight: 400;
  color: #ADAAAA;
}


.secondary-font {
  font-size: 20px;
  font-weight: 400;
}

.secondary-medium{
  font-size: 32px;
  font-weight: 300;
}

.secondary-big {
  font-size: 30px;
  font-weight: 600;
}

.secondary-bold-font {
  font-size: 20px;
  font-weight: 700;
}

.teritory-font {
  font-size: 16px;
  font-weight: 200;
}

.card-big-font {
  font-size: 45px;
  font-weight: 500;
}

/* Style guide font end */

/* Style guide color start */

.primary-color {
  color: #2A5298;
}

.primary-color-bg {
  background-color: #2A5298;
}


.primary-color-hover {
  color: rgb(145, 190, 248);
}

.primary-color-hover-bg {
  background-color: rgb(17, 63, 123);
}

.secondary-color {
  color: #68B684;
}

.secondary-color-bg {
  background-color: #68B684;
}

.secondary-color-hover {
  color: #9dfdc0;
}

.secondary-color-hover-bg {
  background-color: #1f6238;
}

.teritory-color {
  color: #FFFFFF;
}

.teritory-color-bg {
  background-color: #FFFFFF;
}

.teritory-color-hover {
  color: #D9D9D9;
}

.teritory-color-hover-bg {
  background-color: #D9D9D9;
}

.background-color {
  background-color: #ECECEC;
}

.color-grey {
  color: #373737;
}

.price-bg {
  background-color: #E4E4E4;
}

.Quaternary-color {
  background-color: black;
}

.Quaternary-color-three {
  color: black;
}

.Quaternary-color-two{
  color: #ff9900;
}

.Quaternary-color-four{
  color: #BF9B9B;
}

/* Style guide color end */

/* Nav section start */





/* header nav .first{
  display: flex;
  gap: 30px;
} */


/* nav{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 151px; */
  /* padding: 40px 70px; */
  /* position: relative; */
  /* z-index: 10000000; */
  /* background-color: antiquewhite; */
/* } */


/* nav ul{
  display: flex;
  gap: 28px;
  position: relative;
} */

/* nav button{
  width: auto;
  height: 47px;
  padding: 10px;
  border-radius: 14px;
  background-color: #2A5298;
  color: white;
  border: transparent;
} */

/* nav button:hover {
  background-color: rgb(34, 34, 80);
  cursor: pointer;
  transition: 0.7s;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
} */


/* nav .button-container{ */
  /* position: relative;  */
  /* display: flex; */
  /* gap: 57px; */
/* } */ 


/* nav .button-container .one{
  padding: 10px 23px;
  border: none;
  border-radius: 26px;
  cursor: pointer;   
}

nav .button-container .one:hover{
  background-color: #4D6A7C;
} */


/* nav .button-container .two{
  padding: 10px 23px;
  border: none;
  border-radius: 26px;
  cursor: pointer;   
}


nav .button-container .two:hover{
  background-color: #2987FF;
} */

/* Nav bar end */



/* burger start */

/* burger end */












/* header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 30px 120px;
    gap: 117px;
}

header .logo-two {
    color: gray;
    /* letter-spacing: 2px; */
/* } */

/* .nav { */
    /* display: flex; */
    /* gap: 46px; */
    /* color: #007BFF; */
/* } */

/* .nav ul li a {
    text-decoration: none;
    color: #2A5298;
    font-weight: bold;
}

.nav a:hover{
  color: #87A7DE;
} */

/* .apply-button { */ 
    /* padding: 8px 16px; */
    /* background-color: #2A5298;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
} */

/* Nav section end */


/* resp nav start */

/* header #burger{
  display: none;
}

header label{
  display: none;
  font-size: 24px;
} */


/* resp nav end */




/* media query start */



@media (max-width:1360px) {
  /* Style guide font start */

  .primary-font {
      font-size: 22px;
  }

  .primary-big {
      font-size: 66px;
      font-weight: 600;
  }

  .primary-semibold-font {
      font-size: 50px;
      font-weight: 600;
  }

  .primary-bold-font {
      font-size: 50px;
      font-weight: 700;
  }


  .secondary-font {
      font-size: 16px;
  }

  .secondary-big {
      font-size: 26px;
  }

  .secondary-bold-font {
      font-size: 20px;
      font-weight: 700;
  }

  .teritory-font {
      font-size: 16px;
  }

  .card-big-font {
      font-size: 40px;
      font-weight: 500;
  }
}

/* Style guide font end */



@media (max-width:1300px) {
  /* Style guide font start */

  .primary-font {
      font-size: 20px;
  }

  .primary-big {
      font-size: 60px;
      font-weight: 600;
  }

  .primary-semibold-font {
      font-size: 45px;
      font-weight: 600;
  }

  .primary-bold-font {
      font-size: 45px;
      font-weight: 700;
  }


  .secondary-font {
      font-size: 14px;
  }

  .secondary-big {
      font-size: 22px;
  }

  .secondary-bold-font {
      font-size: 20px;
      font-weight: 700;
  }

  .teritory-font {
      font-size: 16px;
  }

  .card-big-font {
      font-size: 38px;
      font-weight: 500;
  }

  /* Style guide font end */


}





@media (max-width:1260px) {
  /* Style guide font start */

  .primary-font {
      font-size: 20px;
  }

  .primary-big {
      font-size: 56px;
      font-weight: 600;
  }

  .primary-semibold-font {
      font-size: 40px;
      font-weight: 600;
  }

  .primary-bold-font {
      font-size: 36px;
      font-weight: 700;
  }


  .secondary-font {
      font-size: 18px;
  }

  .secondary-big {
      font-size: 20px;
  }

  .secondary-bold-font {
      font-size: 20px;
      font-weight: 700;
  }

  .teritory-font {
      font-size: 16px;
  }

  .card-big-font {
      font-size: 34px;
      font-weight: 500;
  }
}

/* Style guide font end */


  @media (max-width:1150px){

    /* header label{
      display: block;
    }

    nav ul{
      width: 100%;
      height: auto;
      position: absolute;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.481);  
      top: -700%;
      align-items: start;
      justify-content: start;
      padding: 50px 50px;
      transition-duration: 0.5s;
      z-index: 10;
    }

    header #burger:checked ~ ul{
      top: 150%;
    } */

    /* footer .container-two{
      width: 40%;
      flex-wrap: wrap ;
      gap: 100px;
    } */
    
   
     /* Style guide font start */




     .primary-font {
      font-size: 20px;
  }

  .primary-big {
      font-size: 54px;
      font-weight: 600;
  }

  .primary-semibold-font {
      font-size: 36px;
      font-weight: 600;
  }

  .primary-bold-font {
      font-size: 36px;
      font-weight: 700;
  }


  .secondary-font {
      font-size: 20px;
  }

  .secondary-big {
      font-size: 20px;
  }

  .secondary-bold-font {
      font-size: 20px;
      font-weight: 700;
  }

  .teritory-font {
      font-size: 16px;
  }

  .card-big-font {
      font-size: 30px;
      font-weight: 500;
  }

  /* Style guide font end */


}

@media (max-width:1000px) {
  /* Style guide font start */

  .primary-font {
      font-size: 20px;
  }

  .primary-medium-big-font {
    font-size: 45px;
}

  .primary-big {
      font-size: 52px;
      font-weight: 600;
  }

  .primary-semibold-font {
      font-size: 34px;
      font-weight: 600;
  }

  .primary-bold-font {
      font-size: 34px;
      font-weight: 700;
  }

  .title-font {
     font-size: 64px;
  }

  .secondary-font {
      font-size: 14px;
  }

  .secondary-big {
      font-size: 20px;
  }

  .secondary-bold-font {
      font-size: 18px;
      font-weight: 700;
  }

  .teritory-font {
      font-size: 16px;
  }

  .card-big-font {
      font-size: 28px;
      font-weight: 500;
  }

  /* Style guide font end */

}


@media (max-width:900px) {
  .primary-font {
    font-size: 20px;
}

.primary-big {
    font-size: 48px;
    font-weight: 600;
}

.primary-semibold-font {
    font-size: 32px;
    font-weight: 600;
}

.primary-bold-font {
    font-size: 32px;
    font-weight: 700;
}


.secondary-font {
    font-size: 22px;
}

.secondary-big {
    font-size: 20px;
}

.secondary-bold-font {
    font-size: 18px;
    font-weight: 700;
}

.teritory-font {
    font-size: 16px;
}

.card-big-font {
    font-size: 24px;
    font-weight: 500;
}
}


@media (max-width:800px) {
  /* Style guide font start */

  .primary-font {
      font-size: 20px;
  }

  .primary-big {
      font-size: 44px;
      font-weight: 600;
  }

  .primary-semibold-font {
      font-size: 30px;
      font-weight: 600;
  }

  .primary-bold-font {
      font-size: 30px;
      font-weight: 700;
  }


  .secondary-font {
      font-size: 20px;
  }

  .secondary-big {
      font-size: 20px;
  }

  .secondary-bold-font {
      font-size: 16px;
      font-weight: 700;
  }

  .teritory-font {
      font-size: 16px;
  }

  .card-big-font {
      font-size: 22px;
      font-weight: 500;
  }

  /* Style guide font end */

}

@media (max-width:750px){
  .primary-font {
    font-size: 20px;
}

.primary-big {
    font-size: 44px;
    font-weight: 600;
}

.primary-semibold-font {
    font-size: 30px;
    font-weight: 600;
}

.primary-bold-font {
    font-size: 30px;
    font-weight: 700;
}


.secondary-font {
    font-size: 20px;
}

.secondary-big {
    font-size: 20px;
}

.secondary-bold-font {
    font-size: 16px;
    font-weight: 700;
}

.teritory-font {
    font-size: 16px;
}

.card-big-font {
    font-size: 22px;
    font-weight: 500;
}

}

@media (max-width:600px) {
  .primary-font {
    font-size: 20px;
}

.primary-big {
  font-size: 24px;
  margin-bottom: 10px;
    font-weight: 600;
}

.primary-semibold-font {
    font-size: 28px;
    font-weight: 600;
}

.primary-bold-font {
    font-size: 28px;
    font-weight: 700;
}


.secondary-font {
    font-size: 18px;
}

.secondary-big {
    font-size: 20px;
}

.secondary-bold-font {
    font-size: 16px;
    font-weight: 700;
}

.teritory-font {
    font-size: 16px;
}

.card-big-font {
    font-size: 22px;
    font-weight: 500;
}


}

@media (max-width:560px){
  .secondary-medium{
    font-size: 20px;
    font-weight: 300;
  }

  .primary-bold-font{
    font-size: 22px;
  }

  .primary-font{
    font-size: 16px;
    flex-wrap: wrap;
  }
}

@media (max-width:500px) {
  .secondary-medium{
    font-size: 18px;
    font-weight: 300;
  }

  .primary-bold-font{
    font-size: 18px;
  }

  .primary-font{
    font-size: 14px;
    flex-wrap: wrap;
  }

  .title-font {
    font-size: 54px;
  }

  .secondary-small {
    font-size: 18px;
  }

  .teritory-font {
    font-size: 14px;
  }

  .teritory-font {
    font-size: 9px;
  }

}

@media (max-width:400px) {
  .secondary-medium{
    font-size: 18px;
    font-weight: 300;
  }

  .primary-bold-font{
    font-size: 18px;
  }

  .primary-font{
    font-size: 14px;
    flex-wrap: wrap;
  }

  .primary-semibold-font {
    font-size: 16px;
    font-weight: 300px;
  }

  .title-font {
    font-size: 54px;
  }

  .secondary-small {
    font-size: 14px;
  }

  .teritory-font {
    font-size: 12px;
  }

}


@media (max-width:350px) {

  .secondary-medium{
    font-size: 14px;
    font-weight: 200;
  }

  .primary-bold-font{
    font-size: 14px;
  }

  .primary-font{
    font-size: 12px;
    flex-wrap: wrap;
  }

  .title-font {
    font-size: 18px;
  }

  .secondary-small {
    font-size: 14px;
  }

  .teritory-font {
    font-size: 14px;
  }

  .teritory-font {
    font-size: 6px;
  }

}










footer{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #040405;
  flex-direction: column;
}
footer .wrapper{
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;

}
footer .wrapper .first{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  width: 23%;
  color: white;
}
footer .wrapper .first .footer-btn{
  width: 100%;
  padding: 0px 10px;
}

footer .wrapper .first p{
  width: 80%;
  color: white;
}
footer .wrapper .first i{
  font-size: 16px;
}
footer .wrapper .second{
  display: flex;
  flex-direction: column;
  width: 23%;
  gap: 10px;
  color: white;
  
}
footer .wrapper .second ul{
  list-style-type: none;
}

footer .wrapper .second ul a{
  text-decoration: none;
  color: #fffbfb;
}
footer .wrapper .third{
  display: flex;
  flex-direction: column;
  width: 23%;
  gap: 10px;
  color: white;
  
}
footer .wrapper .third ul{
  list-style-type: none;
}

footer .wrapper .third ul a{
  text-decoration: none;
  color: #fffbfb;
}
footer .wrapper .first .social-links{
  display: flex;
  gap: 20px;
}
footer .wrapper .first i{
  color: #fffbfb;
}
footer .wrapper .fourth{
  display: flex;
  color: white;
  flex-direction: column;
 
  
}
footer .wrapper .fourth span{
  color: #fffbfb;
}
.copy{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: center; */
  gap: 60px;
  padding-bottom: 20px;
  color: white;

}
.copy a{
  color: #fffbfb;
}

.contact{
  display: flex;
  gap: 10px
  ;
}
.contact i{
  color: #fffbfb;
}
.contact2{
  display: flex;
  gap: 10px
  ;
}
.contact2 i{
  color: #fffbfb;
}



@media only screen and (max-width:1118px) {
  footer {
    height: auto;
}
}

@media only screen and (max-width:1212px){
  .footer-btn {
     
      height: 40px;
      width: 200px;
      border-radius: 50px;
      padding: 0px  20px;
    
  }
}

@media only screen and (max-width:950px){
  ooter{
        
    height: auto;
  
}
footer .wrapper .first {
  
    width: 50%;
    margin-bottom: 10px;
}
footer .wrapper .second {
  
    width: 50%;
}
footer .wrapper .third {
  
    width: 50%;
}
footer .wrapper .fourth {
  
    width: 50%;
}
}

@media only screen and (max-width:850px) {
  footer .wrapper .first {
      
    width: 50%;
    margin-bottom: 10px;
}
footer .wrapper .second {
  
    width: 50%;
}
footer .wrapper .third {
  
    width: 50%;
}
footer .wrapper .fourth {
  
    width: 50%;
}
}

@media only screen and (max-width:750px){
  footer .wrapper .first{
      width: 50%;
  }
  .steps-section {
    
      margin-bottom: 6px;
     
  }
  footer .wrapper .second{
      width: 50%;
  }
  footer .wrapper .third{
      width: 50%;
  }
  footer .wrapper .fourth{
      width: 50%;
  }
  footer .wrapper {
     gap: 30px;
     height: auto;
  }
  footer{
      
      height: auto;
    
  }
  footer .wrapper {
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}
.copy{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
}

@media only screen and (max-width:700px){
  .wrapper {
    margin: 0px 45px;
    /* margin-bottom: 100px; */
}
}

@media only screen and (max-width:414px) {
  p{
    font-size: 14px;}
    .wrapper {
        margin: 0px 25px;
        /* margin-bottom: 100px; */
    }
    .copy p{
        font-size: 12px;
    }
}





/* media query font end */