body {
    overflow-x: hidden;
}





.container-wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* section one start */


.container-one {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #C9EAD5;
}

.container-one .left-container {
    width: 50%;
    height: auto;
    padding: 120px;
}


.container-one .left-container .buttoncontainer {
    width: auto;
    height: 49px;
    display: flex;
    justify-content: start;
    align-items: start;
    border-radius: 14px;
    margin-top: 44px;
    gap: 50px;
}

.container-one .left-container button {
    width: 197px;
    height: auto;
    padding: 20px 10px;
    border-radius: 14px;
}

.container-one .left-container button:hover {
    background-color: rgb(34, 34, 80);
    cursor: pointer;
    transition: 0.7s;
}

.container-one .left-container .primary-color:hover {
    background-color: #68B684;
    color: white;
    border-color: transparent;
    cursor: pointer;
    transition: 0.7s;
}

.container-one .left-container .primary-color {
    background-color: transparent;
}

.container-one .right-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-one .right-container img {
    height: auto;
    width: 90%;
    margin-right: 20%;
}




/* section one end */






/* section two start */




.container-two {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-two .total-container-one {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 102px;
    margin-left: 138px;
    margin-right: 138px;
    gap: 28px;
}

.container-two .total-container-one .box-one {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2DCF57;
    color: white;
    padding: 30px;
    border-radius: 31px;
}

.container-two .total-container-one .box-two {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: white;
    padding: 30px;
    border-radius: 31px;
}

.container-two .total-container-one .box-three {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2DCF57;
    color: white;
    padding: 30px;
    border-radius: 31px;
}

.container-two .total-container-one .box-four {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: white;
    padding: 30px;
    border-radius: 31px;
}



/* section two end */



/* section three start */



.container-three {
    width: 90%;
    height: 338px;
    background-color: #373333;
    margin-top: 106px;
    /* margin-left: 105px; */
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.container-three .total-container-two {
    width: 900px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 112px;
}

.container-three .total-container-two button {
    width: 147px;
    height: 49px;
    border-radius: 14px;
    margin-top: 15px;
    margin-bottom: 123px;
}

.container-three .total-container-two button:hover {
    background-color: rgb(34, 34, 80);
    cursor: pointer;
    transition: 0.7s;
}




/* section three end */


/* section four start */


.container-four {
    width: auto;
    height: 637px;
    background-image: url('../src/image/Support/sectionfour/background.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -100px;
    /* margin-left: 90px; */
    margin-top: 153px;
}

.container-four .total-container-three {
    display: flex;
    justify-content: start;
    align-items: center;
}

.container-four .total-container-three .left-container-one {
    width: 550px;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 340px;
    margin-left: 27px;
    gap: 16px;
}

.container-four .total-container-three .right-container-one {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 157px;
    margin-top: 57px;
}

.container-four .total-container-three .right-container-one img {
    width: 90%;
    height: auto;
}



/* section four end */




/* section five start */


.container-five {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container-five .top-container-one {
    width: 436px;
    height: auto;
    text-align: center;
}

.container-five .top-container-one h6 {
    width: 25%;
    height: auto;
    background-color: #000000;
    color: white;
    margin-left: 145.5px;
    padding: 14px;
    border-radius: 50px;
    margin-top: 127px;
}


.container-five .bottom-container-one {
    width: 10%;
    height: auto;
    display: flex;
    text-align: center;
    gap: 15%;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.buttoncontainertwo button {
    width: 217px;
    height: 36px;
    background-color: transparent;
    border-radius: 14px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.buttoncontainertwo button:hover {
    background-color: #68B684;
    color: white;
    border-color: transparent;
    cursor: pointer;
    transition: 0.7s;
}


/* section five end */








/* media query start */







@media (max-width: 1110px) {
    .container-one {
        width: auto;
    }

    .container-four {
        width: auto;
    }

    .container-five .bottom-container-one {
        flex-wrap: wrap;
    }
}

@media (max-width: 1080px) {
    body {
        overflow-x: hidden;
    }

    .container-wrapper {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container-one {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #C9EAD5;
        padding: 20px;
    }

    .container-one .left-container {
        width: 100%;
        padding: 50px 20px;
        text-align: center;
    }

    .container-one .left-container button {
        margin-left: 40px;
    }

    .container-one .right-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-one .right-container img {
        width: auto;
        /* max-width: 616px; */
        height: auto;
    }

    .container-two .total-container-one {
        width: 100%;
        margin: 20px 0;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-two .total-container-one .box-one,
    .container-two .total-container-one .box-two,
    .container-two .total-container-one .box-three,
    .container-two .total-container-one .box-four {
        width: 100%;
        padding: 15px;
        text-align: center;
        border-radius: 14px;
    }


    .container-three {
        width: 100%;
        height: auto;
        margin-top: 60px;
        background-color: #373333;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 30px;
    }

    .container-three .total-container-two {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .container-three .total-container-two button {
        width: 100%;
        padding: 15px 0;
        margin-top: 10px;
    }


    .container-four {
        width: 100%;
        height: auto;
        margin-top: 80px;
        background-image: url('../src/image/Support/sectionfour/background.png');
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container-four .total-container-three {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container-four .total-container-three .left-container-one {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        text-align: center;
    }

    .container-four .total-container-three .right-container-one img {
        width: 100%;
        height: auto;
        max-width: 620px;
    }


    .container-five .top-container-one {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .container-five .top-container-one h6 {
        background-color: #000;
        color: white;
        padding: 12px;
        border-radius: 50px;
        margin-left: 0;
        margin-top: 20px;
    }

    .container-five .bottom-container-one {
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

    .container-five .bottom-container-one .img-one {
        width: 80%;
        max-width: 217px;
        margin-bottom: 20px;
        text-align: center;
    }
}


@media (max-width: 750px) {
    .container-three {
        width: auto;
        height: auto;
        justify-content: center;
    }

    .container-four {
        flex-direction: column-reverse;
    }

    .container-five {
        margin-right: 15%;
    }

    .container-five .top-container-one h6 {
        margin-left: 45%;
        margin-bottom: 5%;
    }

    .container-five .top-container-one h1 {
        margin-left: 17%;
    }

    .container-five .buttoncontainertwo {
        margin-left: 22%;
    }
}



@media (max-width: 650px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }


    .container-one .right-container img {
        display: none;
    }

    .logo-conatiner {
        text-align: center;
        margin-bottom: 10px;
    }

    .logo-conatiner h1 {
        font-size: 16px;
        text-align: center;
    }


    ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    ul li {
        margin: 10px 0;
    }

    ul li a {
        text-decoration: none;
        font-size: 14px;
        padding: 5px 0;
    }


    label {
        font-size: 24px;
        cursor: pointer;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked+ul {
        display: flex;
    }


    button {
        width: 100%;
        padding: 10px;
        background-color: #092049;
        color: #ffffff;
        border: none;
        border-radius: 14px;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        text-align: center;
        margin-bottom: 20px;
    }

    button:hover {
        background-color: #092049;
    }



    .container-one {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #C9EAD5;
        padding: 20px;
    }

    .container-one .left-container {
        width: 100%;
        padding: 50px 20px;
        text-align: center;
    }

    .container-one .right-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-one .right-container img {
        width: 80%;
        max-width: 616px;
        height: auto;
    }


    .container-two .total-container-one {
        width: 100%;
        margin: 20px 0;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-two .total-container-one .box-one,
    .container-two .total-container-one .box-two,
    .container-two .total-container-one .box-three,
    .container-two .total-container-one .box-four {
        width: 100%;
        padding: 15px;
        text-align: center;
        border-radius: 14px;
    }


    .container-three {
        /* width: 100%; */
        height: auto;
        margin-top: 60px;
        background-color: #373333;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 30px;
    }

    .container-three .total-container-two {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .container-three .total-container-two button {
        width: 100%;
        padding: 15px 0;
        margin-top: 10px;
    }


    .container-four {
        width: 100%;
        height: auto;
        margin-top: 80px;
        background-image: url('../src/image/Support/sectionfour/background.png');
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container-four .total-container-three {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container-four .total-container-three .left-container-one {
        width: 90%;
        margin-top: 20px;
        padding: 10px;
        text-align: center;
    }

    .container-four .total-container-three .right-container-one img {
        width: 100%;
        height: auto;
        max-width: 620px;
    }

    .container-five .top-container-one {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .container-five .top-container-one h6 {
        background-color: #000;
        color: white;
        padding: 12px;
        border-radius: 50px;
        /* margin-left: 30%; */
        margin-top: 20px;
    }

    .container-five .bottom-container-one {
        width: 100%;
        padding: 30px;
        margin-right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

    .container-five .bottom-container-one .img-one {
        width: 80%;
        max-width: 217px;
        margin-bottom: 20px;
        text-align: center;
    }

    .buttoncontainertwo button {
        width: 100%;
        padding: 15px 0;
    }
}


@media (max-width: 400px) {
    body {
        overflow-x: hidden;
    }


    .container-wrapper {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    header nav {
        width: 100%;
        /* padding: 10px; */
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }


    .logo-conatiner h1 {
        font-size: 18px;
    }


    .container-one .right-container img {
        display: none;
    }


    .container-one {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #C9EAD5;
        padding: 10px;
    }

    .container-one .left-container {
        width: 100%;
        padding: 40px 15px;
        text-align: center;
    }

    .container-one .left-container button {
        font-size: 10px;
        margin: 10px;
    }

    .container-one .left-container .primary-color {
        border: 1px solid black;
    }

    .container-one .right-container {
        width: 100%;
        display: none;
    }


    .container-two .total-container-one {
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .container-two .total-container-one .box-one,
    .container-two .total-container-one .box-two,
    .container-two .total-container-one .box-three,
    .container-two .total-container-one .box-four {
        width: 100%;
        padding: 15px;
        text-align: center;
        font-size: 24px;
        border-radius: 12px;
    }


    .container-three {
        width: 100%;
        background-color: #373333;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 30px;
    }

    .container-three .total-container-two {
        width: 100%;
        text-align: center;
        /* margin-top: 20px; */
    }

    .container-three .total-container-two button {
        width: 100%;
        padding: 15px;
        margin-top: 10px;
        font-size: 1rem;
    }


    .container-four {
        width: 100%;
        height: auto;
        background-image: url('../src/image/Support/sectionfour/background.png');
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        margin-top: 40px;
    }

    .container-four .total-container-three {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .container-four .total-container-three .left-container-one {
        width: 90%;
        padding: 10px;
        text-align: center;
        margin-right: 5%;
        margin-top: 20px;
    }

    .container-five {
        margin-right: 35%;
    }

    .container-five .bottom-container-one {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .container-five .bottom-container-one .img-one {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .buttoncontainertwo button {
        width: 100%;
        padding: 15px;
        margin-top: 15px;
    }
}


@max (max-width: 450px) {

    .container-one .left-container button {
        width: 197px;
        height: auto;
        /* padding: 20px 10px; */
        border-radius: 14px;
        font-size: 12px;
    }

    nav .wrapper button {
        padding: 10px 20px;
        background-color: #2A5298;
        color: white;
        cursor: pointer;
        border: none;
        font-size: 12px;
        border-radius: 15px;
    }
}




/* media query end */